<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= current_page.data.title || "Font Stacks :: Organic Web" %></title>
    <%= stylesheet_link_tag "site" %>
  </head>
  <body>
		<main>
			<%= yield %>
		</main>
  </body>
</html>
