<% data.fonts.stacks.each do |stack| %>
	<article>
		<div style="font-family: <%= stack.gsub("\"","'") %>">
			<h1><%= lorem.words(3).capitalize %></h1>
			<pre>font-family: <%= stack %>;</pre>
			<address><%= lorem.sentence %>.</address>
			<p><%= lorem.sentence %>.</p>
		</div>
	</article>

	<p>&nbsp;</p>
	<span>&middot;&nbsp;&middot;&nbsp;&middot;</span>
	<p>&nbsp;</p>
<% end %>
